/* CSS */
.container {
  font-family: sans-serif;
}
a {
  color: #378ED1;
}
header {

}
.briefing {

}
nav {
 font color:#666666;
}
.top-area {

}
.social {

}
.overview p {
  font-size: 15px;

}
.overview .farenheight {
  font-size: 45px;

}
.panel-body {
  flex-direction: row
}
.local-forecast {

}
.search {

}
.result {

}
.panel {

}
.panel-head {

}
.panel-head h2 span{

}
.panel-head h2{
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
.panel-head p{

}
.details th{
  font-weight: bold
  color: #413839;
}
.overview {

}
.day {

}
.weather {

}
.temp.high {
  color: red;
}
.temp.low {
  color: #4d94ff;
}
